<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password reset</title>
    <style>
        body {
            padding: 1rem;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }

        input {
            margin-top: 1rem;
            padding: 1rem;
            background: transparent;
            border: 1px solid black;
            color: black;
        }

        label {
            display: block;
        }

        @media (prefers-color-scheme: dark) {
            body {
                background-color: #222;
                color: white;
            }

            input {
                border: 1px solid #ffffff;
                color: #ffffff;
            }
        }
    </style>
</head>
<body>
<h1>Drayageconnection.com Email Password reset</h1>
{{ if .UniqueLinkTriggered }}
    <p>Type your new password here </p>
    <form action="" method="post">
        <label for="password">Your new password : </label>
        <input type="password" name="password" id="password" placeholder="Enter your new password">
    </form>
{{ else }}
    {{ if .Sent }}
        <p>A password reset message has been sent if such an address exists.</p>
    {{ else }}
        <form action="/reset" method="post">
            <label for="email">Email address</label>
            <input type="email" name="email" id="email" placeholder="Enter your email address">
        </form>
    {{ end }}
{{ end }}
</body>
</html>
